<%= calendar_date_select_includes %>
<%= error_messages_for :newsNew %>
<div id='main'>
  <div id='content'>
    <h1><%= pagetitle %></h1>
    <div class='form-area'>
      <% form_for :news, @news, :url => { :action => doAction, :id => params[:id]} do |form|%>
        <p class='title'>
          <%= form.label :headline %>
          <%= form.text_field :headline, :class => 'textbox'%>
        </p>
        <p class='title'>
          <%= form.label :leadtext %>
          <%= form.text_field :leadtext, :class => 'textbox' %>
        </p>
        <p class='title'>
          <%= form.label :text %>
          <%= form.text_area(:text, :cols => 60, :rows => 2, :class => "textarea") %>
        </p>
        <p class='title'>
          <%= form.label :start %>
          <%= calendar_date_select :news, :start %>
        </p>
        <p class='title'>
          <%= form.label :stop %>
          <%= calendar_date_select :news, :stop %>
        </p>
        <br />
        <%= form.submit submitText, :class => "button"%>
    </div>
  </div>
</div>
<%end%>