<%= calendar_date_select_includes %>
<% include_stylesheet 'admin/news/news' %>
<h1>Edit: <%= @news_tag.name %></h1>

<div id='main'>
  <div id='content'>
    <div class='form-area'>
      <% form_for [:admin, @news_tag] do |form|%>
        <p class='title'>
          <%= form.label :name %>
          <%= form.text_field :name, :class => 'textbox', :maxlength => 255 %>
        </p>
        <br />
        <p class="buttons">
          <%= save_model_button(@news_tag) %>
          <%= save_model_and_continue_editing_button(@news_tag) %>
          or
          <%= link_to "Cancel", {:action => :index} %>
        </p>
    </div>
  </div>
</div>
<%end%>