<%= render :partial => "#{File.dirname(__FILE__)}/../menu.html.erb" %>
<h1>Tags</h1>
<% if @news_tags.blank? %>
  <p>No tags in database </p>
<% else %>
<u1>
    <table  class="index" >
       <% @news_tags.each do |tag| %>
         <tr  class="node level-0">
           <td class="page"><%= link_to  tag.name, { :action => 'edit', :id => tag.id } %></td>
           <td class="remove"><%= link_to image('remove', :alt => 'Remove News'), remove_admin_news_tag_url(:id => tag.id) %></td>
         </tr>
      <%end%>
    </table>
</u1>
<div id="pagination" style='margin: 10px'>
<%= will_paginate @news_tags %>
</div>
<%- end %>

<%#= ActionController::Base.instance_methods.sort.join("\n") %>

<%= link_to 'Add New Tags', { :action => 'new' } %>